body {
  background-color: #e6ecf0;
}

/* Nav */
.navbar {
  margin-bottom: 1rem;
}

.navbar a {
  font-weight: bold;
  color: white;
}

.navbar a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar .container-fluid {
  padding: 0 0.3rem;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  background: #14171a;
}

/* Home-hero */

.home-hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url('./images/home-hero.jpg');
  background-position: top right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 5rem;
}

.home-hero > h1 {
  font-size: 3rem;
  text-shadow: 0 1px 8px #2a2d2f;
}

.home-hero > .btn {
  margin-top: 1rem;
  font-weight: 500;
}

/* TweetList */

#tweets .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
}

#tweets:not(.no-hover) .list-group-item:hover {
  background-color: #e6ecf0;
}
