body {
  background-color: #e6ecf0;
  height: 100vh;
}

/* Nav */
.navbar {
  margin-bottom: 1rem;
  z-index: 1;
}

.navbar a {
  font-weight: bold;
  color: white;
}

.navbar a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar .container-fluid {
  padding: 0 0.3rem;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  background: #14171a;
}

/* Home-hero */

.home-hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./images/home-hero.jpg');
  background-position: top right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 5rem;
}

.home-hero > h1 {
  font-size: 3rem;
  text-shadow: 0 1px 8px #2a2d2f;
}

.home-hero > .btn {
  margin-top: 1rem;
  font-weight: 500;
}

/* TweetItem */

#tweets .list-group-item {
  display: flex;
  align-items: center;
  padding: 7px 20px 12px;
  border-radius: 10px;
  margin: 2px 0;
  height: 95px;
}

#tweets .list-group-item img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#tweets .list-group-item .tweet-area {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.8rem;
}

#tweets .list-group-item .tweet-area p {
  flex-basis: 100%;
  margin: 0;
}

#tweets .list-group-item .tweet-area .fa-times {
  color: rgb(216, 44, 44);
  font-size: 18px;
  position: absolute;
  right: 11px;
  top: 7px;
  opacity: 0;
}

#tweets .list-group-item .tweet-area .fa-times:hover {
  color: rgb(241, 73, 73);
}

#tweets:not(.no-hover) .list-group-item:hover {
  background-color: #e6ecf0;
}

#tweets:not(.no-hover) .list-group-item:hover .fa-times {
  transition-duration: 0.3s;
  opacity: 1;
}

/* User Aside */

.panel .panel-body {
  margin-top: 0.5rem;
}

.panel .panel-body .id-thumbnail {
  font-size: 1.4vw;
  text-align: center;
}

/* Auth Form */

.auth-form label,
input {
  margin: 2px auto;
}

.auth-form label {
  display: block;
  text-align: left;
  padding-left: 2%;
  margin-top: 8px;
}
